<button id="addDeveloperBtn" data-target="#addDeveloperModal" type="button" class="btn btn-primary add-btn" data-toggle="modal" data-whatever="@getbootstrap" >Add Developer</button>

<div id="addDeveloperModal" aria-labelledby="exampleLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleLabel">Add Developer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/developers/new_developer" method="post">
          <div class="form-group">
            <label for="modal_add_first_name" class="col-form-label">First Name:</label>
            <input type="text" class="form-control" id="modal_add_first_name" placeholder="first name" required>
          </div>
          <div class="form-group">
            <label for="modal_add_last_name" class="col-form-label">Last Name:</label>
            <input type="text" class="form-control" id="modal_add_last_name" placeholder="last name" required>
          </div>
          <div class="form-group">
            <label for="modal_add_title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="modal_add_title" placeholder="title" required>
          </div>
          <div class="form-group">
            <label for="modal_add_email" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="modal_add_email" placeholder="email" required>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add Developer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- Will delete if we do not need --}}
{{!-- <script src="/scripts/add_developer.js"></script> --}}
