<div id="updateStatusModal" aria-labelledby="exampleLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleLabel">Edit Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="modal-update-status-type" class="col-form-label">Status Type:</label>
            <input type="text" class="form-control" id="modal-update-status-type" placeholder="name">
          </div>
      <div class="modal-footer d-flex justify-content-between">
        <td><button id="deleteStatusBtn" type="button" class="btn btn-danger" >Delete</button></td>
        <button id="updateStatusBtn" type="button" class="btn btn-primary">Save</button>
      </div>
      </div>
    </div>
  </div>
</div>
<script src="/scripts/update_status.js"></script>
