<div id="updateDeveloperModal" aria-labelledby="exampleLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleLabel">Edit Developer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         {{!-- <form class="update-form" id="modal-update-developer"> --}}
        {{!-- <form class="needs-validation" action="/inventory/modify_item" method="POST" id="modal_shelf"></form> --}}
         <form class="update-form">
          <div class="form-group">
            <label for="modal-update-first-name" class="col-form-label">First Name:</label>
            <input type="text" class="form-control" id="modal-update-first-name" name="modal-update-first-name" placeholder="first name" required>
          </div>
          <div class="form-group">
            <label for="modal-update-last-name" class="col-form-label">Last Name:</label>
            <input type="text" class="form-control" id="modal-update-last-name" placeholder="last name" required>
          </div>
          <div class="form-group">
            <label for="modal-update-title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="modal-update-title" placeholder="title" required>
          </div>
          <div class="form-group">
            <label for="modal-update-email" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="modal-update-email" placeholder="email" required>
          </div>
        </form>
      <div class="modal-footer d-flex justify-content-between">
        <td><button id="deleteDeveloperBtn" type="button" class="btn btn-danger delete-btn" >Delete</button></td>
        <button id="updateDeveloperBtn" type="submit" class="btn btn-primary update-btn">Save</button>
      </div>
      </div>
    </div>
  </div>
</div>
<script src="/scripts/update_developer.js"></script>
