<div id="updateProjectModal" aria-labelledby="exampleLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleLabel">Update Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Project Name:</label>
            <input type="text" class="form-control" id="project-name" placeholder="name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Description:</label>
            <textarea class="form-control" id="project-description" placeholder="description"></textarea>
          </div>
        </form>
        <div class="form-group">
            <label for="project-status">Status (Note: Will be pulled from Status Table)</label>
            <select class="form-control">
                <option>...</option>
                <option>Not Started</option> 
                <option>In Progress</option>
                <option>Complete</option>
            </select>
        </div>
        <div class="form-group">
            <label for="project-priority">Priority (Note: Will be pulled from Priority Table)</label>
            <select class="form-control">
                <option>...</option> 
                <option>Low</option> 
                <option>Medium</option>
                <option>High</option>
            </select>
        </div>
        <div class="form-group">
            <label for="project-start-date">Start Date</label>
            <input type="date" class="form-control" id="project-name" placeholder="mm/dd/yyyy">
        </div>
        <div class="form-group">
            <label for="project-start-date">End Date</label>
            <input type="date" class="form-control" id="project-name" placeholder="mm/dd/yyyy">
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <td><button id="deleteProjectBtn" type="button" class="btn btn-danger" >Delete Project</button></td>
        <button id="updateProjectBtn" type="button" class="btn btn-primary">Update Project</button>
      </div>
    </div>
  </div>
</div>
<script src="/scripts/update_project.js"></script>
