<div id="updateIssueModal" aria-labelledby="exampleLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleLabel">Edit Issue</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="update-form">
          <div class="form-group">
            <label for="modal-update-issue-name" class="col-form-label">Issue Name:</label>
            <input type="text" class="form-control" id="modal-update-issue-name" placeholder="name" required>
          </div>
          <div class="form-group">
            <label for="modal-update-issue-description" class="col-form-label">Description:</label>
            <textarea class="form-control" id="modal-update-issue-description" placeholder="description" required></textarea>
          </div>
          <div class="form-group">
              <label for="modal-update-issue-project">Project (Note: Will be pulled from Project Table)</label>
              <select class="form-control" id="modal-update-issue-project" required>
                  <option>...</option>
                  <option>eQUIPT FE-1</option> 
                  <option>eQUIPT ERD/SCHEMA-2</option>
                  <option>eQUIPT FE-2</option>
              </select>
          </div>
          <div class="form-group">
              <label for="modal-update-issue-status">Status (Note: Will be pulled from Status Table)</label>
              <select class="form-control" id="modal-update-issue-status" required>
                  <option>...</option>
                  <option>Not Started</option> 
                  <option>In Progress</option>
                  <option>Complete</option>
              </select>
          </div>
          <div class="form-group">
              <label for="modal-update-issue-priority">Priority (Note: Will be pulled from Priority Table)</label>
              <select class="form-control" id="modal-update-issue-priority" required>
                  <option>...</option> 
                  <option>Low</option> 
                  <option>Medium</option>
                  <option>High</option>
              </select>
          </div>
          <div class="form-group">
              <label for="modal-update-issue-date-raised">Date Raised</label>
              <input type="date" class="form-control" id="modal-update-issue-date-raised" placeholder="mm/dd/yyyy" required>
          </div>
          <div class="form-group">
              <label for="modal-update-issue-date-closed">Date Closed</label>
              <input type="date" class="form-control" id="modal-update-issue-date-closed" placeholder="mm/dd/yyyy">
          </div>
          <div class="modal-footer d-flex justify-content-between">
            <button id="delete-btn" type="button" class="btn btn-danger delete-btn" >Delete</button>
            <button id="update-btn" type="submit" class="btn btn-primary update-btn">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/scripts/update_issue.js"></script>
