<h1 class="page-title">Developer Manager</h1>

<div class="page-notes">
  <div>Notes:</div>
  <ul>
      <li>Click the row to update/delete</li>
  </ul> 
</div>

{{!-- Handlebars call to add_project_modal.hbs partial --}}
{{> add_developer_modal}}

<table>
  <thead>
    <tr>
      <th scope="col">Developer ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Title</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-developer">
      <td scope="row">123456</td>
      <td class="table-first-name">Alex</td>
      <td class="table-last-name">Munoz</td>
      <td class="table-title">Jr. Developer</td>
      <td class="table-email">alex.munoz@quadwords.com</td>
      <td class="assigned-users">
        <span class="users-btn material-icons">work</span>
      </td>

    </tr>
    <tr class="table-developer">
      <td scope="row">123456</td>
      <td class="table-first-name">Kevin</td>
      <td class="table-last-name">Joy</td>
      <td class="table-title">Sr. Developer</td>
      <td class="table-email">kevin.joy@quadwords.com</td>
      <td class="assigned-users">
        <span class="users-btn material-icons">work</span>
      </td>
    </tr>
  </tbody>
</table>

{{!-- Handlebars call to view_assigned_users_modal.hbs partial --}}
{{> view_assigned_users_modal}}

{{!-- Handlebars call to update_project_modal.hbs partial --}}
{{> update_developer_modal}}