<h1>Developers Page</h1>
<h2>Dev Data</h2>
<table>
    <tr>
        <th>
            <p>Developer ID</p>
        </th>
        <th>
            <p>First Name</p>
        </th>
        <th>
            <p>Last Name</p>
        </th>
        <th>
            <p>Title</p>
        </th>
        <th>
            <p>Email Address</p>
        </th>
    </tr>
    {{!-- sample data --}}
    <tr>
        <td>
            <p>123456</p>
        </td>
        <td>
            <p>Alex</p>
        </td>
        <td>
            <p>Munoz</p>
        </td>
        <td>
            <p>Jr. Developer</p>   
        </td>
        <td>
            <p>alex.munoz@quadwords.com</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>123457</p>
        </td>
        <td>
            <p>Kevin</p>
        </td>
        <td>
            <p>Joy</p>
        </td>
        <td>
            <p>Sr. Developer</p>   
        </td>
        <td>
            <p>kevin.joy@quadwords.com</p>
        </td>
    </tr>
</table>