<h1 class="page-title">Description</h1>
<h3>Created by the <u>Q</u>uad<u>w</u>ards team (team 64), eQWIPT is an <u>i</u>ssues in <u>p</u>rojects <u>t</u>racker</h3>
<p>eQWIPT is capable of tracking:</p>
    <ul>
        <li>All issues in each project</li>
        <li>The statuses and priorities of each issue and project</li>
        <li>The develops assigned to each issue</li>
    </ul>

<br><br>

<h1>Developers</h1>
<h3>Alex Munoz</h3>
<h3>Kevin Joy</h3>

<br><br>

<h1>Stack</h1>
<h3>Heroku</h3>
<h3>Handlebars</h3>
<h3>Bootstrap</h3>


