<h1 class="page-title">Priority Manager</h1>

<div class="page-notes">
  <div>Notes:</div>
  <ul>
      <li>Click the row to update/delete</li>
  </ul> 
</div>

{{!-- Handlebars call to add_project_modal.hbs partial --}}
{{> add_priority_modal}}

<table>
  <thead>
    <tr>
      <th scope="col">Priority ID</th>
      <th scope="col">Priority Type</th>
    </tr>
  </thead>
  <tbody>
    {{!-- Handlebars building dynamic table from app.get request--}}
    {{#each results}}
      {{#if priorityID}}
        <tr class="table-priorities">
          <td scope="row" class="table-id">{{priorityID}}</td>
          <td class="table-priority-type">{{priorityType}}</td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>

{{!-- Handlebars call to update_project_modal.hbs partial --}}
{{> update_priority_modal}}