<h1 class="page-title">Project Manager</h1>

<div class="page-notes">
  <div>Notes:</div>
  <ul>
      <li>Click the row to update/delete</li>
      <li>Click people icon to view users assigned to the project (m:m relationship)</li>
  </ul> 
</div>

{{!-- Handlebars call to add_project_modal.hbs partial --}}
{{> add_project_modal}}

<table>
  <thead>
    <tr>
      <th scope="col">Project ID</th>
      <th scope="col">Project Name</th>
      <th scope="col">Description</th>
      <th scope="col">Status ID</th>
      <th scope="col">Priority ID</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-project">
      <td scope="row">1</td>
      <td class="table-name">eQUIPT FE-1</td>
      <td class="table-description">Draft of the eQUIPT front end</td>
      <td class="table-status">ID#</td>
      <td class="table-priority">ID#</td>
      <td class="table-start-date">10/27/20</td>
      <td class="table-end-date">11/02/20</td>
      <td class="assigned-users">
        <span class="users-btn material-icons">people_alt</span>
      </td>
    </tr>
    <tr class="table-project">
      <td scope="row">2</td>
      <td class="table-name">eQUIPT ERD/SCHEMA-2</td>
      <td class="table-description">Final version of eQUIPT ERD/SCHEMA</td>
      <td class="table-status">ID#</td>
      <td class="table-priority">ID#</td>
      <td class="table-start-date">10/19/20</td>
      <td class="table-end-date">10/26/20</td>
      <td class="assigned-users">
        <span class="users-btn material-icons">people_alt</span>
      </td>
    </tr>
    <tr class="table-project">
      <td scope="row">3</td>
      <td class="table-name">eQUIPT FE-2</td>
      <td class="table-description">Final version of the eQUIPT front end</td>
      <td class="table-status">ID#</td>
      <td class="table-priority">ID#</td>
      <td class="table-start-date">11/03/20</td>
      <td class="table-end-date">11/09/20</td>
      <td class="assigned-users">
        <span class="users-btn material-icons">people_alt</span>
      </td>
    </tr>
  </tbody>
</table>

{{!-- Handlebars call to view_assigned_users_modal.hbs partial --}}
{{> view_assigned_users_modal}}

{{!-- Handlebars call to update_project_modal.hbs partial --}}
{{> update_project_modal}}