<h1 class="page-title">Status Manager</h1>

<div class="page-notes">
  <div>Notes:</div>
  <ul>
      <li>Click the row to update/delete</li>
  </ul> 
</div>

{{!-- Handlebars call to add_project_modal.hbs partial --}}
{{> add_status_modal}}

<table>
  <thead>
    <tr>
      <th scope="col">Status ID</th>
      <th scope="col">Status Type</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-status">
      <td scope="row">1</td>
      <td class="table-status-type">Not Started</td>
    </tr>
    <tr class="table-status">
      <td scope="row">2</td>
      <td class="table-status-type">In Progress</td>
    </tr>
    <tr class="table-status">
      <td scope="row">3</td>
      <td class="table-status-type">Complete</td>
    </tr>
  </tbody>
</table>

{{!-- Handlebars call to update_project_modal.hbs partial --}}
{{> update_status_modal}}